<div class="btn-group btn-group-sm">
  <label for="addImage">
    <span class="btn btn-primary"
      >Upload Image
      <input
        id="addImage"
        type="file"
        value="Upload Image"
        (change)="handleAddImage($event)"
      />
    </span>
  </label>
  <button (click)="handleClearCanvas()" class="btn btn-danger">
    Clear Canvas
  </button>
  <button (click)="handleDownload()" class="btn btn-success">
    Download Card
  </button>
  <button (click)="handleSave()" class="btn btn-info">Save Card</button>
  <button (click)="handleNew()" class="btn btn-primary">New Card</button>
</div>
