<main>
  <div class="container">
    <h1 class="text-center ilo-primary-text">Quote Card Maker</h1>
    <div class="row mt-5">
      <div class="col-lg-8">
        <app-canvas></app-canvas>
      </div>
      <div class="col-lg-4">
        <h5 class="text-end ilo-primary-text">Customize your card</h5>
        <div style="border: 2px solid var(--type-grey)">
          <app-control-pannel></app-control-pannel>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <app-saved-cards></app-saved-cards>
      </div>
    </div>
  </div>
</main>
