.quote_card_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--ilo-dark-blue);
}

canvas {
  background-color: var(--ilo-white);
  border: 2px solid var(--ilo-red);
}
