<h2 *ngIf="cards; else elseBlock">Saved cards</h2>
<ng-template #elseBlock><h2>No saved cards yet</h2></ng-template>
<div class="row">
  <div *ngFor="let card of cards" class="col-lg-3">
    <div
      class="card"
      (click)="handleCardClick(card.id)"
      style="cursor: pointer"
    >
      <img src="{{ card.cardImg.src }}" class="card-img-top" alt="" />
      <h5>{{ card.speaker.name }}</h5>
      <button (click)="handleDeleteCard(card.id)" class="btn btn-danger">
        Delete
      </button>
    </div>
  </div>
</div>
