<div class="container-fluid pb-3 pt-3 pe-3 ps-3">
  <div class="row mb-3 ms-0 me-0 gx-0">
    <div class="col-12 fw-bold mb-1">Branding</div>

    <div
      class="btn-group btn-group-sm mb-3"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="branding_buttons"
        id="branding_hidden"
        autocomplete="off"
        checked
      />
      <label class="btn btn-outline-primary" for="branding_hidden"
        >Hidden</label
      >
      <input
        type="radio"
        class="btn-check"
        name="branding_buttons"
        id="branding_blue"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="branding_blue">Blue</label>
      <input
        type="radio"
        class="btn-check"
        name="branding_buttons"
        id="branding_white"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="branding_white">White</label>
    </div>

    <div class="col-12 fw-bold mb-1">Background</div>
    <div
      class="btn-group btn-group-sm mb-3"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="background_buttons"
        id="background_hidden"
        autocomplete="off"
        checked
      />
      <label class="btn btn-outline-primary" for="background_hidden"
        >Hidden</label
      >

      <input
        type="radio"
        class="btn-check"
        name="background_buttons"
        id="background_blue"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="background_blue">Blue</label>
      <input
        type="radio"
        class="btn-check"
        name="background_buttons"
        id="background_white"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="background_white"
        >White</label
      >
    </div>

    <div class="col-12 fw-bold mb-1">Font Color</div>
    <div
      class="btn-group btn-group-sm mb-3"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="font_color_buttons"
        id="font_blue"
        autocomplete="off"
        checked
      />
      <label class="btn btn-outline-primary" for="background_blue">Blue</label>
      <input
        type="radio"
        class="btn-check"
        name="font_color_buttons"
        id="font_white"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="background_white"
        >White</label
      >
    </div>

    <!-- The shit we have to replace is below here-->

    <div class="row d-flex justify-content-between ps-1 pe-1 mb-3 gx-0">
      <div class="col-auto form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="logo"
          id="checkbox_logo"
          [ngModel]="branding.logo"
          (change)="handleCheckBox($event)"
        />
        <label class="form-check-label" for="checkbox_log">Logo</label>
      </div>

      <div class="col-auto form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="background"
          id="checkbox_conf"
          [ngModel]="branding.background"
          (change)="handleCheckBox($event)"
        />
        <label class="form-check-label" for="checkbox_conf">Background</label>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="speaker_name">Speaker Name*</label>
    <input
      name="name"
      type="text"
      id="speaker_name"
      class="form-control"
      [ngModel]="speaker.name"
      (input)="handleUpdateSpeaker($event)"
    />
  </div>

  <div class="mb-3">
    <label class="form-label" for="speaker_title">Speaker Title</label>
    <input
      name="title"
      ype="text"
      id="speaker_title"
      class="form-control"
      [ngModel]="speaker.title"
      (input)="handleUpdateSpeaker($event)"
    />
  </div>

  <div class="mb-3">
    <label class="form-label" for="quote_text">Quote</label>
    <textarea
      id="quote_text"
      class="form-control"
      [ngModel]="quote.content"
      (input)="handleUpdateQuote($event)"
    ></textarea>
  </div>
  <p class="text-danger">*Required to save image</p>
</div>
