<div class="container-fluid pb-3 pt-3 pe-3 ps-3">
  <div class="row mb-3 ms-0 me-0 gx-0">
    <div class="col-12 fw-bold mb-1">Branding</div>
    <div class="row d-flex justify-content-between ps-1 pe-1 mb-3 gx-0">
      <div class="col-auto form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="logo"
          id="checkbox_logo"
          [ngModel]="branding.logo"
          (change)="handleCheckBox($event)"
        />
        <label class="form-check-label" for="checkbox_log">Logo</label>
      </div>

      <div class="col-auto form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="background"
          id="checkbox_conf"
          [ngModel]="branding.background"
          (change)="handleCheckBox($event)"
        />
        <label class="form-check-label" for="checkbox_conf">Background</label>
      </div>

      <div class="col-auto form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="website"
          id="checkbox_website"
          [ngModel]="branding.website"
          (change)="handleCheckBox($event)"
        />
        <label class="form-check-label" for="checkbox_website">Website</label>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="speaker_name">Speaker Name</label>
    <input
      name="name"
      type="text"
      id="speaker_name"
      class="form-control"
      [ngModel]="speaker.name"
      (input)="handleUpdateSpeaker($event)"
    />
  </div>

  <div class="mb-3">
    <label class="form-label" for="speaker_title">Speaker Title</label>
    <input
      name="title"
      ype="text"
      id="speaker_title"
      class="form-control"
      [ngModel]="speaker.title"
      (input)="handleUpdateSpeaker($event)"
    />
  </div>

  <div class="mb-3">
    <label class="form-label" for="quote_text">Quote</label>
    <textarea
      id="quote_text"
      class="form-control"
      [ngModel]="quote.content"
      (input)="handleUpdateQuote($event)"
    ></textarea>
  </div>
</div>
