<div class="container-fluid pb-3 pt-3 pe-3 ps-3">
  <div class="row mb-3 ms-0 me-0 gx-0">
    <div class="col-12 fw-bold mb-1">Branding</div>
    <div class="row d-flex justify-content-between ps-1 pe-1 mb-3 gx-0">
      <div class="col-auto form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="logo"
          id="checkbox_logo"
          (change)="handleCheckBox($event)"
        />
        <label class="form-check-label" for="checkbox_log">Logo</label>
      </div>

      <div class="col-auto form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="conference"
          id="checkbox_conf"
          (change)="handleCheckBox($event)"
        />
        <label class="form-check-label" for="checkbox_conf">Conference</label>
      </div>

      <div class="col-auto form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="website"
          id="checkbox_website"
          (change)="handleCheckBox($event)"
        />
        <label class="form-check-label" for="checkbox_website">Website</label>
      </div>
    </div>
  </div>

  <div class="row mb-3 gx-0">
    <div col="col-auto">
      <button
        (click)="handleAddTextBtn()"
        class="btn btn-primary btn-sm"
        role="button"
      >
        <i class="fas fa-plus"></i> Add text
      </button>
    </div>
  </div>

  <div
    *ngFor="let txt of texts; let i = index"
    class="row align-items-center justify-content-between gx-0 mb-3"
  >
    <div class="input-group">
      <input
        (change)="handleUpdateText($event, i)"
        type="text"
        class="form-control"
        placeholder="Enter text"
        [ngModel]="txt"
      />
      <button
        (click)="handleDeleteText(i)"
        class="btn btn-danger btn-sm"
        role="button"
      >
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>
</div>
